{% extends 'base.html' %}
{% load static %}
{% block title %}My Bookmarks{% endblock title %}

{% block body %}

{% for product in products %}
    
    <div class="my-product-container">
        <a href="{% url 'products-view' p_id=product.id %}">
        <div class="my-product-container-element my-product-container-element-1">
            <img class="my-product-container-img" src="{{product.image.url}}" alt="Image-Info">
        </div>
        </a>
        
        <div class="my-product-container-element my-product-container-element-2">
            <div>
                <a href="{% url 'products-view' p_id=product.id %}">{{product.name}}</a>
                <div style="float: right; font-size: 20px;">
                    Rs. {{product.price}}
                </div>
                <a id="bookmark-btn" href="{% url 'products-unbookmark' p_id=product.id %}">Unbookmark</a><br>
            </div>
        </div>

    </div>
    {% endfor %}
{% endblock body %}