{% extends 'base.html' %}

{% block title %}{{products.0.seller.username}}'s Products{% endblock title %}

{% block body %}
{% if products %}
    {% for product in products %}
    <a href="{% url 'products-view' product.id %}" class=".link-black">
        <div class="my-product-container">
            <div class="my-product-container-element my-product-container-element-1">
                <img src="{{product.image.url}}" class="my-product-container-img" alt="{{product.name}}">
            </div>
            <div class="my-product-container-element my-product-container-element-2">
                Name: {{product.name}} <br>
                Price: Rs. {{product.price}}
            </div>
        </div>
    </a>
    {% endfor %}
{% endif %}
{% endblock body %}