*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

a:hover{
    text-decoration: none;
}

h1{
    display: inline-block;
}

.navbar{
    padding: 5px;
    margin-bottom: 20px;
    background-color: #eb7546;
    color: #ffffff;
}

.link, .link:hover{
    color: #ffffff;
}

.element-3{
    margin-right: 10px;
}

.search-box{
    padding: 3px;
    width: 400px;
    height: 40px;
    background-color: #e26d3f;
    border: none;
}


.submit-btn{
    padding: 3px;
    height: 40px;
    transition: all 0.3s ease;
    border: none;
}

.profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    object-fit: cover;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
}

.product-brief-info{
    width: 200px;
    height: 250px;
    margin: 10px;
}

.product-brief-image{
    height: 210px;
}

.product-brief-name{
    text-align: center;
    text-transform: capitalize;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
}

.product-thumbnail{
    width: 200px;
    height: 210px;
}


.product-page-product-container{
    display: flex;
    flex-wrap: wrap;
}

.product-page-product-image{
    margin-right: 20px;
}

.product-page-product-img{
    width: 500px;
    height: 500px;
}

.product-page-product-about{

}

.product-about-part{
    margin-bottom: 10px;
}

.product-page-product-about>*{
    font-size: 24px;
}

.product-info{
    display: inline-block;
    font-size: 20px;
}