*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

a{
    color: #000000;
}

input{
    transition: border-bottom 0.4s ease-out;
}

input:focus{
    outline: none;
    border-bottom: 1px solid #ffffff;
}

a:hover{
    color: initial;
    text-decoration: none;
}

h1{
    display: inline-block;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 10000;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #eb7546;
    color: #ffffff;
    overflow: hidden;
}

.link, .link:hover{
    color: #ffffff;
}

.bookmark-link{
    margin-right: 20px;
    padding: 26px 10px;
    transition: all 0.4s ease;
}

.bookmark-link:hover{
    background-color: #ffffff;
    color: #eb7546;
}

.element-3{
    margin-right: 10px;
}

.search-box{
    padding: 3px;
    width: 400px;
    height: 40px;
    background-color: #eb7546;
    border: none;
    border: 1px solid transparent;
    color: #ffffff;
}


.submit-btn{
    padding: 3px;
    height: 40px;
    transition: all 0.3s ease;
    border: none;
}

.profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    object-fit: cover;
}

.profile-page-pic{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.profile-page-pic-div{
    margin-bottom: 50px;
}

.product-page-product-container{
    display: flex;
    flex-wrap: wrap;
}

.product-page-product-image{
    margin-right: 20px;
}

.product-page-product-img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.product-page-product-about{
    padding: 0px;
}

.product-about-part{
    margin-bottom: 10px;
}

.product-page-product-about{
    font-size: 24px;
}

.product-page-product-about-description{
    font-size: 24px;
}

.product-info{
    display: inline-block;
    font-size: 20px;
    text-align: justify;
}

.product-page-product-description{
    font-size: 18px;
}

.my-product-container{
    display: flex;
    margin: 10px;
    box-shadow: 0px 0px 5px #000000;
}

.my-product-container-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.my-product-container-element-2{
    font-size: 24px;
    padding: 5px 20px;
    width: 100%;
    position: relative;
    color: #000000;
}

.extra-options{
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.message{
    width: fit-content;
    padding: 10px;
    position: absolute;
    right: 45%;
}

.profile-link{
    color: #000000;
    margin: 0px 20px;
    font-size: 26px;
}

.profile-link:hover{
    color: #555555;
}

#bookmark-btn{
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(218, 232, 245);
}

.comment-box{
    width: 80%;
    padding: 5px;
}

.comment-area{
    margin-top: 20px;
    padding: 20px;
    background-color: #FFF8DC;
}

.commenter{
    font-size: 24px;
}

.comment{
    margin: -5px 0 0 60px;
    font-size: 18px;
}