{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock title %}


{% block body %}
<div class="profile-page-pic-div">
    <img src="{{user.myuser.image.url}}" alt="Profile Pic" class="profile-page-pic">
    <span class="profile-links">
        <a href="{% url 'products-sell' %}" class="profile-link">Sell</a> -  
        <a href="{% url 'products-my' %}" class="profile-link">My Products</a> - 
        <a href="{% url 'user-signout' %}" class="profile-link">Sign-out</a> - 
        <a href="{% url 'user-delete' %}" class="profile-link">Delete Account</a>
    </span>
</div>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{u_form|crispy}}
    {{mu_form|crispy}}

    <input type="submit" class="submit-btn" value="Update">
</form>


{% endblock body %}